@using Microsoft.AspNetCore.Http
@model PayBillViewModel
@{
    ViewData["Title"] = "Pay Bill";
}

<div class="row mt-3 ">
    <div class="col-md-6 offset-md-3 px-5 py-5 my-5 rounded text-light bg-dark">
        <h1 class="display-4 text-left pb-3">Schedule Bill Pay</h1>
        <form asp-action="PayBillTransaction">
            <div class="form-group">
                <label for="accountNumber" class="form-label">Please select your Account:</label>
                <select class="form-select form-control" name="accountNumber" id="accountNumber" aria-label="Default select example">

                    @foreach (var acc in Model.Customer.Accounts)
                    {
                        <option value=@acc.AccountNumber>@Html.DisplayFor(x => acc.AccountNumber) [@Html.DisplayFor(x => acc.AccountType)]</option>
                    }
                </select>
            </div>
            <div class="form-group" id="TransferATM">
                <label asp-for="PayeeID" class="control-label"></label>
                <input asp-for="PayeeID" class="form-control" data-val="true"
                       data-val-required="The PayeeID field is required." />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" id="Amount" name="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
                       data-val="true" data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label"></label>
                <input type="date" asp-for="ScheduledDate" class="form-control"
                       data-val-required="The Date field is required." value="ScheduleDate" />
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <select asp-for="Period" class="form-select form-control" name="Period" id="Period" aria-label="Default select example">
                    <option selected value="S">Once off</option>
                    <option value="M">Monthly</option>
                    <option value="Q">Quarterly</option>
                </select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><i class="bi bi-wallet2"></i> Process</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
