@using Microsoft.AspNetCore.Http
@model PayBillViewModel
@{
    ViewData["Title"] = "Pay Bill";
}
<img src="~/images/transfer.svg" asp-append-version="true" style="z-index: -1; position: absolute;">
<div class="row mt-3 ">
    <div class="col-md-6 offset-md-3 px-5 py-5 my-5 rounded text-light bg-dark">
        <h1 class="display-4 text-left pb-3">Schedule Bill Pay</h1>
        <form asp-action="AddPayBillTransaction">
            <div class="form-group">
                <label asp-for="AccountNumber" class="form-label">Please select your Account:</label>
                <select class="form-select form-control" aria-label="Default select example" asp-for="AccountNumber">

                    @foreach (var acc in Model.Customer.Accounts)
                    {
                        <option value=@acc.AccountNumber>@Html.DisplayFor(x => acc.AccountNumber) [@Html.DisplayFor(x => acc.AccountType)]</option>
                    }
                </select>
                @Html.ValidationMessage("NoAccountError", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="PayeeID" class="form-label">Please select your Payee:</label>
                <select class="form-select form-control" asp-for="PayeeID" aria-label="Default select example">

                    @foreach (var payee in Model.Payee)
                    {
                        <option value=@payee.PayeeID>@Html.DisplayFor(x => payee.PayeeName) [@Html.DisplayFor(x => payee.PayeeID)]</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" value=@Math.Round(Model.Amount,2)
                       data-val="true" data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label"></label>
                <input type="datetime-local" asp-for="ScheduledDate" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control"
                       data-val-required="The Date field is required." />
                @Html.ValidationMessage("DateError", new { @class = "text-danger" })
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <select asp-for="Period" class="form-select form-control" aria-label="Default select example">
                    <option selected value="S">Once off</option>
                    <option value="M">Monthly</option>
                    <option value="Q">Quarterly</option>
                </select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <a asp-area="" asp-controller="Customer" asp-action="Home" class="btn btn-danger"><i class="bi bi-x-square"></i> Cancel</a>
                <button type="submit" class="btn btn-primary"><i class="bi bi-wallet2"></i> Process</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
