@using Microsoft.AspNetCore.Http
@model BillPay
@{
    ViewData["Title"] = "Update Bill";
}

<img src="~/images/transfer.svg" asp-append-version="true" style="z-index: -1; position: absolute;">
<div class="row mt-3 ">
    <div class="col-md-6 offset-md-3 px-5 py-5 my-5 rounded text-light bg-dark">
        <h1 class="display-4 text-left pb-3">Update Bill Pay</h1>
        <p>Bill pay details:</p>

        <form asp-action="">
            <div class="form-group">
                <label asp-for="PayeeID" class="control-label"></label>
                <input asp-for="PayeeID" class="form-control" data-val="true"
                       data-val-required="The PayeeID field is required." value="@Model.PayeeID" />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" id="Amount" name="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
                       data-val="true" data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Scheduled Date</label>
                <input type="datetime-local" asp-format="{0:dd/MM/yyyy HH:mm}" class="form-control"
                       data-val-required="The Date field is required." value="@Model.ScheduleDate.ToLocalTime()" />
                @Html.ValidationMessage("DateError", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <select asp-for="Period" class="form-select form-control" name="Period" id="Period" aria-label="Default select example">
                    <option selected value="S">Once off</option>
                    <option value="M">Monthly</option>
                    <option value="Q">Quarterly</option>
                </select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <button type="submit" class="btn btn-primary"><i class="bi bi-wallet2"></i> Cancel</button>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><i class="bi bi-wallet2"></i> Process</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
