@using Microsoft.AspNetCore.Identity
@using A2.Areas.Identity.Data
@using Microsoft.AspNetCore.Http

@inject SignInManager<A2User> SignInManager
@inject UserManager<A2User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light center" asp-area="" asp-controller="Customer" asp-action="Home"><i class="bi bi-house-door-fill"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light center" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-lock-fill"></i> Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light center" asp-area="" asp-controller="Customer" asp-action="ATM"><i class="bi bi-credit-card-fill"></i> ATM</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light center" asp-area="" asp-controller="Customer" asp-action="Transaction"><i class="bi bi-credit-card-fill"></i> Transactions</a>
    </li>
    <li class="nav-item dropdown  pr-3">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Payments
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="nav-link text-light center" asp-area="" asp-controller="Customer" asp-action="PayBill"><i class="bi bi-cash"></i> Pay Bills</a>
            <a class="nav-link text-light center" asp-area="" asp-controller="Customer" asp-action="BillPays"><i class="bi bi-calendar-check-fill"></i> Scheduled Bills</a>
        </div>
    </li>

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-light center" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light center" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-lock-fill"></i> Privacy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }
</ul>
