@*
    Reference: example03 week 7
*@
@model ErrorViewModel

@{
    var errorCode = Model;
    var errorMessage = "";
    if (Model.errorDict.ContainsKey(Model.ErrorCode))
    {
        Model.errorDict.TryGetValue(Model.ErrorCode, out errorMessage);
    }
    else
    {
        errorMessage = "An Unexpected error occured";
    }
}
<div>
    <img src="~/images/error.png" height="700" asp-append-version="true" style="z-index: -1; position: absolute;">
    <h1 class="text-center">Error @Model.ErrorCode</h1>
    <h3 class="text-center">@errorMessage</h3>

</div>