@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Most Common Bank of Australia's Online Banking</h1>
    <img src="~/images/homebank.png" height="600" asp-append-version="true">
</div>
