@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <img src="~/images/privacy.png" height="700" asp-append-version="true" style="z-index: -1; position: absolute; top: 150px;">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p class="text-center">MCBA Privacy policy coming soon - Thank you for your patience.</p>
</div>

